body {
  text-align: center;
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}
a {
color: #69CBBB;
text-decoration: none;
}
h1 {
  padding: 20px 0px 10px 0px;
}
